@import url(a.css);

body {
  padding: 50px;
}

[class^="famfamfam-flag"] {
  display: inline-block;
  width: 16px;
  height: 11px;
  line-height: 11px;
  /* vertical-align: text-top; */
  background-image: url("flags.png");
  background-position: -30px -40px;
  background-repeat: no-repeat;
}

.famfamfam-flag-tr { 
  background-position: -64px -44px; 
}
.famfamfam-flag-fr { background-position: -176px -44px; width: 16px; height: 11px; }
.famfamfam-flag-de { background-position: -160px -166px; width: 16px; height: 11px; }

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
    border-bottom-width: 0px;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
    border-bottom-width: 10px;    
  }
  100% {
    transform: scale(1);
    border-bottom-width: 5px;
  }
}

h2 {
  border-bottom-style: solid;
  border-bottom-width: 5px;
  font-size: 200%;
  text-align: center;
  margin: 10px auto;
  animation-duration: 4s;
  animation-name: bounceIn; 
}

h2:hover {
  animation-duration: 2s;
  animation-name: bounceIn;
  animation-direction: reverse;
}
