body {
  padding: 15px;
  font-family: 'Noto Sans', sans-serif;
}
#book1 li {
  border: 1px solid gray;
  list-style-position: inside;
   list-style-image: url(book_icon_small.png);
}
#book2 li {
  border: 1px solid gray;
  list-style-type: none;
  background: url(book_icon_small.png) no-repeat;
  height: 40px;
  padding-left: 60px;
  padding-top: 10px;
  vertical-align: center;
}
#test1 {
  /* text-transform: capitalize; */
  font-variant: small-caps;
   cursor: se-resize;
}
body {
  padding-bottom: 300px;
  background: 50% 50% no-repeat url(https://avatars3.githubusercontent.com/u/2614837?v=3&s=460);
  background-attachment: fixed;  
}
#test2 {
  /* height: 100px; */
  border: 1px solid gray;
  
}

