{% extends "my_bookstore/base.html" %}

{% load static %}

{% block page_title %}

{{ book.title }}  <span class="label label-default">({{ book.price }})</span>
{% endblock page_title %}

{% block categories %}
  {% with categories as cat_names %}
     {{ block.super }}
  {% endwith %}
{% endblock categories %}
					
{% block content %}


<div class="media single-page" >
  <div class="media-left">
    <a href="{% url 'book' book.title|slugify book.id %}">
      <img class="media-object" src="/media/{{ book.cover }}" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ book.title }}</h4>
    <h4><a href="{% url 'author' book.author.name|slugify book.author.id %}">{{ book.author.name }}</a> </h4>
    <p>{{ book.description}}</p>
    <h2><span style="float:right">Price : <b >${{book.price}}</b></span>  <span class="label label-info" style="float:left">{{ book.get_cat_name }}</span></h2>
    <div class="clearfix"></div>
    <hr>
    <div class="panel panel-default">
  <div class="panel-heading">Other Informations</div>
  <div class="panel-body">
    <p><b>Model 1</b>: Lorem ipsum</p>
    <p><b>Model 2</b>: Lorem ipsum</p>
    <p><b>Model 3</b>: Lorem ipsum</p>
  </div>
</div>
  </div>
</div>
<h2>Comments</h2>
{% for comment in book.comment_set.all %}
  <div class="comment">
    <div class="title">{{ comment.title }} - {{ comment.user.user.username }} (<b>{{ comment.rating }}</b>)</div>
    <div class="body">
      {% autoescape off %}
      {{ comment.body }}
      {% endautoescape %}
      {% if can_delete or request.user.profile == comment.user %}
      <form action="/delete_comment?next={{request.path|urlencode:''}}/" method="post">
        {% csrf_token %}
        <input type="hidden" name="cid" value="{{comment.id}}"/>
        <input type="submit" value="DELETE">
      </form>
      {% endif %}
    </div>
  </div>
{% empty %}
No comments yet.
{% endfor %}
<a name="comment"></a>
{% if request.user.id %}
  <h3>Add your comment</h3>
  <form method="post" action="#comment">
    {% csrf_token %}
    Title: <input type="text" value="{{values.title}}" name="title"> <br/>
    {% if errors.title %}
    <p style="color: red">{{errors.title}}</p>
    {% endif %}
    Body : <textarea name="yorum">{{values.body}}</textarea> <br/>
    {% if errors.body %}
    <p style="color: red">{{errors.body}}</p>
    {% endif %}
    Rating:
    <select name="rating" >
      <option value="0" {% if values.rating == 0 %}selected{%endif%}>
        Please select...</option>
      <option value="5" {% if values.rating == 5 %}selected{%endif%}>5 - Very Good</option>
      <option value="4" {% if values.rating == 4 %}selected{%endif%}>4 - Good</option>
      <option value="3" {% if values.rating == 3 %}selected{%endif%}>3 - Average</option>
      <option value="2" {% if values.rating == 2 %}selected{%endif%}>2 - Poor</option>
      <option value="1" {% if values.rating == 1 %}selected{%endif%}>1 - Very Poor</option>
    </select> <br/>
    {% if errors.rating %}
    <p style="color: red">{{errors.rating}}</p>
    {% endif %}
    <input type="submit" value="SAVE COMMENT">

  </form>
{% else %}
Please login or <a href="/signup">signup</a> to leave a comment.
{% endif %}

{% endblock content %}











