<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Forms</title>
    <style>
        body {
           margin-bottom: 400px;
        }
    </style>
</head>
<body>
Our Form:
<form action="" method="post">
    {% csrf_token %}
    <ttable>
    {{ form.as_p }}
    </ttable>
    <input type="submit" value="Submit" />
</form>
Just the url field:
<div>
{{ form.url }}
</div>
<h3>Comment Form</h3>
<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form2.as_table }}
    </table>
    <input type="submit" value="Submit" />
</form>
</body>
</html>